@page
@model TaskApp.Pages.TicketPages.AssignedTicketsModel
@{
}

<form method="post">

    @for (int i = 0; i < Model.AssignedTickets.Count; i++)
    {
        <div>
            <tr>
                <td>
                    <input asp-for="AssignedTickets[i].Subject" type="text" placeholder="Subject" />
                </td>
                <td>
                    <input asp-for="AssignedTickets[i].Description" type="text" placeholder="Description" />
                </td>
                <td>
                    <input asp-for="AssignedTickets[i].Employee.ID" type="text" placeholder="Description" />
                </td>
                <td>
                    <input asp-for="AssignedTickets[i].AssignedDate " placeholder="Date of Assigned" />

                </td>

            </tr>
        </div>
        <div>
            <input type="submit" value="Close" asp-page-handler="Close" />
        </div>
    }

</form>

